body {
    margin: 0ch;
    padding: 0ch;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    text-align: center;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 0;

}

p {
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    color: gray;
}

a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #FF5959;
    padding: 20px 40px;
    border-radius: 5px;
}

.cover {
    background-image: url(../images/donation15.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 12%;
}

.cover-text {
    color: white;
    text-align: center;

}


.cover p {
    padding-bottom: 3%;

    color: white;
}



.donating-amount {
    display: flex;
    padding-left: 22%;
    margin-bottom: 5%;
}

.amount {
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 4% 2%;
    margin: 1%;
    background-color: rgb(241, 239, 239);
    border-radius: 7px;
    font-size: 25px;
    color: rgb(97, 97, 97);
}

#selected-amount {
    border: 2px solid #FF5959;
    background-color: #ff969650;
}

#amount-number {
    text-align: center;
}

#amount-number input {
    font-size: 25px;
    text-align: center;
    margin-bottom: 4%;
    width: 500px;
    border: 0;
    border-bottom: 2px solid #dfdfdf;
    height: 63px;
    padding-left: 5%;
}


#amount-button {
    text-align: center;
}

.portfolio {
    background-color: #FF5959;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    margin-top: 12%;
}

.portfolio p {
    color: aliceblue;
    margin-top: 0%;

}

.portfolio div {
    margin: 1%;
    padding-left: 5%;
    padding-right: 7%;
}

span {
    color: #FF5959;
}

.our-plan p {
    margin-left: 23%;
    margin-right: 23%;

}

.plan-section {
    display: flex;
    width: 80%;
    text-align: center;
    padding-left: 12%;
    margin-top: 5%;
}

.plan {
    border-radius: 10px;
    margin: 1%;
    padding-top: 1%;
}

.plan img {
    width: 10%;
}

.plan h3 {
    font-size: 25px;
    font-family: 'Inter', sans-serif;

}

#food {
    background-color: #abff9650;
}

#education {

    background-color: #de96ff50;
}

#treatment {
    background-color: rgba(117, 195, 247, 0.356);
}

#patnar {
    padding-top: 3%;
    text-align: center;
}

#patnar img {
    width: 80%;

}

.experience {
    margin-top: 4%;
    display: flex;
    width: 100%;
}

.experience img {
    width: 100%;
    height: 85%;
    margin-top: 15%;
}

.experience div {
    width: 40%;
    padding: 5%;
}

.experience p {
    margin-bottom: 10%;
}

.experience a {
    margin: 20%;
}

.updates {
    display: flex;
    background-color: #ffde9650;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 7%;
    padding-left: 15%;
    padding-top: 3%;
    padding-bottom: 5%;
    font-size: 15px;
    font-family: 'Inter', sans-serif;

}

.updates input {
    font-family: 'Inter', sans-serif;
    color: #dfdfdf;
    border: 0;
    height: 63px;
    width: 300px;
    margin-top: 20px;
    padding-left: 5%;
    border-radius: 5px;
    font-size: 15px;
}

#subscribe {
    margin-top: 40px;

}

footer {
    background-color: black;
    padding-bottom: 3px;
}

footer h2 {
    padding-top: 8px;
    margin-bottom: 0%;
}

#addres {
    color: rgb(255, 255, 255);
    padding-bottom: 8px;
}